<header id="page-header">
  <div id="masthead">
    <h1><%= link_to 'Events', root_path %></h1>
    <nav>
      <p>
        <% if current_user %>
          <%= link_to current_user.name, current_user %>
        <% else %>
          <%= link_to "Sign Up", signup_path %>
          <%= link_to "Sign In", new_session_path %>
        <% end %>
      </p>
    </nav>
  </div>
</header>
